h1 {color: red; text-align: center; font-style: italic; font-family: "Old English Text MT", cursive;}
body {background-color: yellow;}
p {text-align: center; font-family: "Lucida Handwriting", cursive;}
ul {color: red; list-style: circle inside; font-style: italic; font-family: "Old English Text MT"; text-align: center;}